.task {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.task input {
    margin-right: 10px;
}

.taskText {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    word-break: break-all;
}

.taskCreationDate {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}